.header {
    position: fixed;
    top: env(titlebar-area-height, 0);
    left: 0;
    right: 0;
    width: 100%;
    z-index: map-get($z-layers, 'nav');
    padding: 1rem 0;
    background-color: var(--color-bg);
    /* Avoid backdrop-filter so mobile nav overlay can use position:fixed relative to viewport */
    box-shadow: 0 1px 0 var(--color-border);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__brand {
        display: flex;
        align-items: center;
        color: var(--color-text);
        font-weight: 700;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__avatar {
        display: block;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    &__verification {
        color: #1da1f2;
        padding-left: 0.25em;
    }
    &__official {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        color: var(--color-text-offset);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1;

        .icon {
            font-size: 1.125rem;
            margin-right: 0.25em;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    // Theme Button
    &__themebtn {
        display: none;
        order: -1;
        margin-right: 1rem;

        @supports (color: var(--fake-var)) {
            display: flex;
        }
        @include mq(md) {
            margin-right: 2rem;
        }
        @include mq(lg) {
            order: initial;
            margin-left: 1rem;
            margin-right: 0;
        }
    }

    @include mq(md) {
        padding: 3.125rem 0;
    }
}
